:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: white;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .navbar h1{
    color: bisque;
    font-size: 25px;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

*,
*::before{
    margin-top: 0;
}
*::after{
    margin: 0;
    margin-left: 1.1ch;
    padding: 0;
    box-sizing: border-box;
}

.container post{
    max-width:400px;
    margin-left: 50ch;
}
html{
    
    font-size: 10px;
}
img{
    width: 100%;
}
body, html {
    /* margin-left:1.1%; */
    margin-right:2%;
    margin-bottom:1%;
    margin-top:none;
    width:98%;
    height:98%;
}

body{
    background: #fcfdfe;
    /* width: 100%;
    height: 100vh;
    display: flex; */
    /* background-image: url("https://images.unsplash.com/photo-1508727786488-0d7201955bc0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxMTMxMDIxfHxlbnwwfHx8fA%3D%3D&w=1000&q=80"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    /* padding: 0 1rem;  */
}
/* .mybox {
    flex: 4 0 96.66667%;
    max-width: 96.66667%;
  } */

#leftalign{
    float: left;
}
#rightalign{
    float: left;
}

.blog-post{
    width: 65%;
    height: 18rem;
    /* padding: 5rem; */
    /* padding: 5rem; */
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 0 0 66.66667%;
    max-width: 66.66667%; */
    border-radius: .4rem;
}   
.blog-post_img{
    min-width: 24rem;
    max-width: 24rem;
    height: 17rem;
    transform: translateX(-1rem);
    /* position: static; */
}
/* .side{
    display: flex;
} */

.blog-post_img img{
    width: 99%;
    height: 95%;
    object-fit: cover;
    display: block;
    border-radius: .4rem;
}
.allcontent{
    display: flex;
}

.blog-post_img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(to right, rgba(79, 172, 254, .8),rgba(0, 242, 254,.8)); */
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}

.blog-post_date{
    display: block;
    /* margin-bottom: 20rem; */
    color: rgba(0,0,0, 0.5);
    font-size: 1.2rem;
    font-weight: 600;
    /* margin: .1rem 0; */
}

.blog-post_title{
    font-size: 1.5rem;

    /* text-transform: uppercase; */
    color: #174d7c;
    /* color: rgba(0, 0, 0, .7); */
}

.blog-post_text{
    /* margin-bottom: 3rem; */
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.993);
}

.blog-post_cta{
    display: inline-block;
    padding: 1.1rem 1rem;
    font-size: 1.1rem;
    color: #fff;
    background-image: linear-gradient(to right, #1f2325 0%, #4a377e 100% );
    border-radius: .2rem;
    text-decoration: none;
    margin-bottom: 7px;
}
.blog-post_cta:hover{
    background-image: linear-gradient(to right, #061c1d 0%), #222a31 100%;
}

@media screen and (max-width:868px) {
    .blog-post{
        max-width: 70rem;
    }
    

@media screen and (max-width:768px) {
    .blog-post{
        padding: 1.5rem;
        flex-direction: column;
    }
    .blog-post_img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}
}


/* Timeline... */

.timeline_area{
    position: sticky;
    
    float: right;
    max-width: 90px auto;
    width: 380px;
    border-left: 2px solid #ccc;
    padding: 0 10px 0 0px;
}
.container blog{
    float: right;
    width: 33.33%;
}

.time{
    background-color: #fff;
    padding: 10px 25px;
    font-size: 3px;
    /* font-display: #b84b4b; */
    border: 1px solid #ccc;
    line-height: 1.2;
    position: relative;
    height: 90px;
    margin-bottom: 20px;
}
.time:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -0px;
}
.time:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    border-width: 10px;
    position: absolute;
    left: -25px;
    top: 7px;
}
.time h2{
	font-size: medium;
    margin: 0;
    font-family: poppins;
    color: #f05710;
}
.time h3{
	font-size: medium;
	font-size: small;
    margin: 0;
    font-family: poppins;
    color: #0c0603;
}
.time:hover{
    /* background-color: #b4c1eb; */
	background: linear-gradient(to bottom, rgba(22, 24, 24, 0.5), rgb(214, 235, 179));
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}


/* Image Card */

.imageex h2{
	font-size: 30px;
	color: #a56666;
}
hr.new1 {
	border: 3px solid rgb(231, 241, 231);
	border-radius: 3px;
  }
hr.new2 {
	border: 3px solid rgb(231, 241, 231);
	border-radius: 3px;
  }
.wrapper{
    display: flex;
	/* margin-bottom: 50px; */
    width: 112%;
	height: 20%;
    justify-content: space-around;
}

.card{
    width: 380px;
    height: 240px;
    padding: 1rem 1rem;
    margin-left:none;
    /* margin-top: 10px; */
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 4px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.card:hour{
    transform: translateY(20px);
}
 
.card:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover::before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1{
    font-size: medium;
    margin: 0;
}


.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color:#000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}


/* wrapper2 */

.wrapper2{
	margin-top: 160px;
    display: flex;
    width: 112%;
	height: 20%;
    justify-content: space-around;
}

.card2{
    width: 380px;
    height: 260px;
    padding: 1rem 1rem;
    margin-left:none;
    margin-top: 5px;
    margin-bottom: 30px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 4px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.card2:hour{
    transform: translateY(20px);
}

.card2:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card2:hover::before{
    opacity: 1;
}

.card2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card2 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card2:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card2 .info h1{
    font-size: medium;
    margin: 0;
}


.card2 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card2 .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color:#000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.card2 .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}


